<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
      internalLogFile="C:/temp/logs/logfile.txt"   
      internalLogToConsole="true">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>

    <target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${message}" />

    <target xsi:type="Database"
            name="errorEmail"
            connectionString="Data Source=SERVER1\MJDB_DEV;
            initial catalog=Primary;
            integrated security=False;
            User Id=ClientAccess;
            Password=Access$QL2013_!?;
            MultipleActiveResultSets=True;"
            commandText="exec spInsEmailRecord @subject, @body, @source">

      <parameter name="@subject" layout="MachoManTwitterBot Error" />
      <parameter name="@body" layout="Error in method: $(exception:format=Method\n\n${exception:format=Message}\n\n${exception:format=StackTrace}" />
      <parameter name="@source" layout="MachoManTwitterBot" />

    </target>

    <target xsi:type="Database"
            name="traceEmail"
            connectionString="Data Source=SERVER1\MJDB_DEV;
            initial catalog=Primary;
            integrated security=False;
            User Id=ClientAccess;
            Password=Access$QL2013_!?;
            MultipleActiveResultSets=True;"
            commandText="exec spInsEmailRecord @subject, @body, @source">

      <parameter name="@subject" layout="MachoManTwitterBot - Trace" />
      <parameter name="@body" layout="${layout}" />
      <parameter name="@source" layout="MachoManTwitterBot" />

    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="f,traceEmail" />
    <logger name="*" minlevel="Error" writeTo="errorEmail"/>
  </rules>
</nlog>