<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ESPNStatsEntities" connectionString="metadata=res://*/ESPNStats.csdl|res://*/ESPNStats.ssdl|res://*/ESPNStats.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER1\MJDB_DEV;initial catalog=ESPNStats;persist security info=True;user id=ClientAccess;password=Access$QL2013_!?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>