<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!--<variable name="filePath" value="${basedir}/logs" />-->
  <variable name ="filePath" value="C:/temp/logs" />

  <targets>
    <target name="gmail"
            xsi:type="Mail"
            subject="Error with Twitter Bot at ${shortdate}"
            to="mikejoyce19@gmail.com"
            from="MyLogger1984@gmail.com"
            body="test"
            smtpServer="smtp.gmail.com"
            smtpPort="587"
            smtpAuthentication="Basic"
            smtpUsername="MyLogger1984@gmail.com"
            smtpPassword="AbbeyShaq2013!"
            enableSsl="true"
            />

    <target name ="file"
            xsi:type="File"
            fileName="${basedir}/log_file_${shortdate}.txt"
            layout="${longdate} - ${level} - ${message}"
            />
  </targets>
  <rules>
    <rule name="*" minlevel="Info" writeTo="file" />
    <rule name="*" minlevel="Error" writeTo="gmail" />
  </rules>

  <nlog internalLogToConsoleError="true" />
</nlog>

